/* ISSO E UM ARQUIVO CSS*/
/* !important prevents a property to be overwritten*/

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  color: green;
}

.container {
  padding: 20px;
}

header#cabecalho {
  background-color: blue;
}

section#conteudo {
  line-height: 1.5em;
}

footer#rodape {
  border-top: 2px solid red;
}

.footer__link {
  color: blue;
  font-weight: bold;
}
