/* ISSO E UM ARQUIVO CSS*/
/* !important prevents a property to be overwritten*/

.container {
  padding: 20px;
}

#cabecalho {
  background-color: blue;
}

#conteudo {
  line-height: 1.5em;
}

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  color: green;
}

.footer__link {
  color: blue;
  font-weight: bold;
}
