/* ISSO E UM ARQUIVO CSS*/
/* !important prevents a property to be overwritten*/

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  color: green;
}

.container {
  padding: 20px;
}

header#cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: blue;
}

section#conteudo {
  line-height: 1.5em;
}

footer#rodape {
  border-top: 2px solid red;
}

form.form__contato {
  border: 1px solid grey;
  padding: 10px;
}

button.form__contato--btn {
  color: white;
  background-color: blue;
}

.menu__itens {
  display: flex;
}

.menu__item {
  list-style: none;
  margin: 2em;

  > a {
    > img {
      width: 50px;
    }
  }
}

.footer__link {
  color: blue;
  font-weight: bold;
}
